<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <link href="/css/home.css" rel="stylesheet">
</head>
<div class="container" ng-app="app" ng-controller="controller">
    <h1>My Shopping list</h1>
    <div ng-repeat="item in items">
        <h3>{{item.name}}</h3>
        <h4><span ng-repeat="store in item.stores">{{store.name}}</span></h4>
    </div>
    <div>
        <h3>Add item</h3>
        <input ng-model="newItemName" />
        <button ng-click="submitNewItem()">Submit</button>
        <div>
            <span
            	class="store-select"
                ng-repeat="store in stores" 
                ng-class="{'store-add-selected':selectedStores.indexOf(store.id) > -1}" 
                ng-click="toggleSelected(store.id)">
            {{store.name}}
            </span>
        </div>
    </div>
    <div>
        <h3>Add store</h3>
        <input ng-model="newStoreName" />
        <button ng-click="submitNewStore()">Submit</button>
    </div>
</div>
</div>
<script>
var app = angular.module("app", [])
app.controller("controller", function($scope, $http, $q) {
	$scope._ = _

    $scope.selectedStores = [];
    $scope.toggleSelected = function(id){
        let arr = $scope.selectedStores;
        if(arr.indexOf(id) > -1)
            arr.splice(arr.indexOf(id),1);
        else
            arr.push(id);
    }

	$scope.loadItems = function(){
		return new Promise(function(resolve, reject){
			$http.get("/items/").then(
		        function(data) {
		            resolve(data.data)
		        })
		})

	}
	$scope.loadStores = function(){
		return new Promise(function(resolve, reject){
			$http.get("/stores/").then(
	        function(data) {
	            resolve(data.data)
	        })
		})

	}
	$scope.loadStoreItemJctns = function(){
		return new Promise(function(resolve, reject){
		    $http.get("/storeitemjctns/").then(
		        function(data) {
		            resolve(data.data)
		    })			
		})

	}

	$scope.reloadAll = function(){
		$q.all([$scope.loadItems(), $scope.loadStores(), $scope.loadStoreItemJctns()])
		.then(function(values) {
			$scope.items = values[0];
			$scope.stores = values[1];
			$scope.storeItemJctns = values[2];

			for(let i=0; i<$scope.items.length; i++){
				let item = $scope.items[i];
				item.stores = _.filter($scope.stores, store => _.filter($scope.storeItemJctns, jctn => (jctn.item_id == item.id) && (jctn.store_id == store.id)).length > 0)
			}

		})		
	}

	$scope.reloadAll();




    $scope.submitNewItem = function() {
        $http.post("/items/", {"name": $scope.newItemName}).then(function() {
        	$scope.newItemName = ""
        	$scope.reloadAll();
        })
    }

    $scope.submitNewStore = function(){
        console.log("submitting")
        $http.post("/stores/", {"name": $scope.newStoreName}).then(function(){
            $scope.newStoreName = ""
            $scope.reloadAll();
        })
    }
})
</script>

</html>